<!DOCTYPE html>
<html>
<head>
	<title>TODO</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="assets/styles.css">
</head>
<body>
	<div id="inputs">
		<form method="post" enctype="multipart/form-data">
			<p>
				<input type="text" size="20" name="activity">
				<button type="submit" class="btn btn-success" value="add" name="add">Add</button>
				<button type="submit" class="btn btn-danger" value="delete" name="delete">Delete</button>
				<button type="submit" class="btn btn-secondary" value="search" name="search">Search</button>
			</p>
		</form>
	</div>
	<div id="content">
		<ul class="list-group">
			{{range .}}
					{{if .Need}}
						<li class="list-group-item list-group-item-dark">
							<h4>{{.Name}}</h4>
							<h5>{{.Date}}</h5>
						</li>
					{{else if .End}}
						<li class="list-group-item list-group-item-danger">
							<h4>{{.Name}}</h4>
							<h5>{{.Date}}</h5>
						</li>
					{{else}}
						<li class="list-group-item list-group-item-success">
							<h4>{{.Name}}</h4>
							<h5>{{.Date}}</h5>
						</li>
					{{end}}
			{{end}}
		</ul>
	</div>
</body>
</html>